/* the styles for the HTML elements */
html {
    background-color: rgb(192, 192, 192);
}
body {
    font-family: Impact, Charcoal, sans-serif;
    width: 760px;
    margin: 0 auto;
    padding: 0 2em;
    margin-top: 80px;
    background-color: white;
    border: 1px solid black;
    color:black;
}

title {
    font-size: 500px;
}

header {
    padding: .5em 0;
    margin-bottom: 10px;
}

header h1 {
    color: black;
    font-weight: 900;
}
main {

}
/*aside {
    width: 150px;
}*/

aside ul{
    margin:10px;
    padding:0;
    list-style-type: none;
    text-align:center;
}

aside ul li {
    display:inline-block;
    
}

aside ul li a{
    text-decoration:none;
    padding: .5em 1em;
    color: #fff;
    background-color: #000066;
    margin: 0em 0.5em;
}

aside ul li a:hover{
    color: #fff;
    background-color: #039;
}

section {
    /*float: left;*/
    width: 100%;
    /*border: 1px solid black;*/
}
footer {
    clear: both;
/*    border-top: 2px solid black;*/
}
footer p {
    text-align: right;
    font-size: 80%;
}

br {
    clear: left;
}

/* the styles for classes */
.right {
    text-align: right;
}
.first_paragraph {
    margin-top: 0;	
}
.last_paragraph {
    margin-bottom: 2em;	
}
/* the styles for the div tags that divide the page into sections */
#left_column {
    float: left;
    width: 150px;
    text-align: center;
}
#right_column {
    float: left;
    padding-left: 1em;
    padding-bottom: 2em;
}
/* Additional styles for the gun Manager application */
#add_gun_form {
    margin: .5em 0;
}
#add_gun_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_gun_form input {
    float: left;
}
#add_gun_form input[text] {
    width: 15em;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #cce0ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    float:left;
    margin-left:20%;
}

.button:hover {background-color: #0000ff;
    color:white;}

.button:active {
    background-color: #0000ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

aside{
    margin-top: 150px;
}

.icon
{
    width:50px;
    height:50px;
}

.icon2
{
    width: 60px;
    height: 60px;
}

table {
    width: 100%;
}

th{
    text-align: center;
}

td {
    text-align: center;
    border: none;
    /*width: 100%;*/
}

h2{
    margin-bottom: -0.1em;
    margin-top: 50px;
}

#selection
{
    float:right;
}

#selection a{
    text-decoration: none;
}

h3{
    padding-top: 50px;
}

#selection a{
    text-decoration:none;
    padding: .5em 1em;
    color: #fff;
    background-color: #4d94ff;
    margin: 0em 0.5em;
}

#selection a:hover{
    color: #fff;
    background-color: #0066ff;
}